.link {
    text-decoration: none;
    color:goldenrod;
    display: block;
}

.link:hover {
    text-decoration: none;
    color:gold;
}

.navBar {
    background-color:  #353f54;
    border-bottom:4px solid gold;
    display: block;
}